@font-face {
    font-family: 'BPreplay';
    src: url('../Fonts/BPreplay.otf') format('opentype');
}

body {
    font-family: BPreplay, Sans;
}

textarea {
    width: 20em;
    height: 25em;
}

.display {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

    .display span {
        font-size: 24vw;
    }

        .display span.hoursHidden,
        .display span.hoursHidden * {
            font-size: 35vw;
        }

        .display span.minutesHidden,
        .display span.minutesHidden * {
            font-size: 38vw;
        }

    .display h2 {
        font-size: 10vw;
        margin: 0;
    }

.bottom > h2 {
    margin: 0;
}

input {
    width: 30em;
}

button {
    font-size: 5em;
    height: 100%;
    width: 100%;
}

.bottom {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 98%;
    left: 1%;
}

.bottomer {
    position: absolute;
    bottom: 0;
    opacity: .75;
}

.left .bottomer {
    left: 0;
}

.right .bottomer {
    right: 0;
}

.left {
    float: left;
    position: relative;
}

.right {
    float: right;
    position: relative;
}

.center {
    width: 15em;
    height: 10em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
