<html ng-app="tomatoApp" ng-controller="TomatoController">
<head>
    <title>{{getTimeRepresentation()}}</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-local-storage.min.js"></script>
    <script src="~/Scripts/lodash.min.js"></script>
    <script src="~/app/app.js"></script>
</head>
<body>
    <div class="display" style="color:{{getCurrentColor()}};">
        <h2>{{current.label}}</h2>
        <span ng-class="sizingClass()">{{getTimeRepresentation()}}</span>
    </div>
    <div class="bottom">
        <div class="left">
            <div class="bottomer">
                <h2 ng-click="showSchedule=!showSchedule">Schedule</h2>
                <textarea ng-model="rules" ng-show="showSchedule"></textarea>
            </div>
        </div>
        <div class="right">
            <div class="bottomer">
                <h2 ng-click="showMovie=!showMovie">Movie</h2>
                <input ng-model="movieUrl" ng-show="showMovie"></input>
                <div ng-bind-html="sound" ng-show="showMovie"></div>
            </div>
        </div>
    </div>
    <div class="center" ng-show="playing">
        <button ng-click="stopMusic()">OK!</button>
    </div>
</body>
</html>
