<html ng-app="tomatoApp" ng-controller="TomatoController">
<head>
    <title>{{clock.hours}}:{{clock.minutes}}:{{clock.seconds}}</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-local-storage.min.js"></script>
    <script src="~/Scripts/lodash.min.js"></script>
    <script src="~/app/app.js"></script>
</head>
<body>
    <div class="display" style="color:{{getCurrentColor()}};">
        <h2>{{current.label}}</h2>
        <span><span ng-show="showHours()">{{clock.hours}}:</span><span ng-show="showMinutes()">{{clock.minutes}}:</span>{{clock.seconds}}</span>
    </div>
    <div class="bottom">
        <div class="rules">
            <h2>Schedule</h2>
            <textarea ng-model="rules"></textarea>
        </div>
        <div class="videoHolder">
            <div ng-bind-html="sound"></div>
            <button ng-show="playing" ng-click="stopMusic()">OK!</button>
        </div>
    </div>
</body>
</html>
